$dark-core-surface-undercanvas: #e6e6e6;
$dark-core-surface-canvas: #ffffff;
$dark-core-surface-transparent: #000000;
$dark-core-surface-level-1: #f2f2f2;
$dark-core-surface-level-2: #e6e6e6;
$dark-core-surface-level-3: #d9d9d9;
$dark-core-surface-level-4: #e6e6e6;
$dark-core-surface-inverse: #000000;
$dark-core-surface-overlay: rgba(0, 0, 0, 0.55);
$dark-core-surface-static-dark: #ffffff;
$dark-core-surface-static-light: #000000;
$dark-core-text-primary: #000000;
$dark-core-text-inverse: #ffffff;
$dark-core-text-secondary: #262626;
$dark-core-text-tertiary: #595959;
$dark-core-text-static-dark: #ffffff;
$dark-core-text-static-light: #000000;
$dark-core-icon-primary: #000000;
$dark-core-icon-inverse: #ffffff;
$dark-core-icon-secondary: #262626;
$dark-core-icon-tertiary: #595959;
$dark-core-border-primary: #a8a8a8;
$dark-core-border-secondary: #cccccc;
$dark-core-border-tertiary: #e6e6e6;
$dark-core-border-elevation: #cccccc;
$dark-core-border-static-dark: #ffffff;
$dark-core-border-static-light: #000000;
$dark-core-input-fill-default: #ffffff;
$dark-core-input-fill-error: #ffefef;
$dark-core-input-fill-hover: #f2f2f2;
$dark-core-input-fill-active: #ffffff;
$dark-core-input-fill-completed: #ffffff;
$dark-core-input-fill-success: #f1f8f5;
$dark-core-input-fill-warning: #fff7ef;
$dark-core-input-fill-info: #eff2f8;
$dark-core-input-border-default: #8c8c8c;
$dark-core-input-border-error: #e70300;
$dark-core-input-border-hover: #6d6d6d;
$dark-core-input-border-active: #595959;
$dark-core-input-border-completed: #262626;
$dark-core-input-border-success: #2c9365;
$dark-core-input-border-warning: #cc8103;
$dark-core-input-border-info: #2658a9;
$dark-core-input-text-default: #595959;
$dark-core-input-text-error: #000000;
$dark-core-input-text-hover: #262626;
$dark-core-input-text-active: #000000;
$dark-core-input-text-completed: #000000;
$dark-core-input-text-success: #000000;
$dark-core-input-text-warning: #000000;
$dark-core-input-text-info: #000000;
$dark-core-input-icon-default: #8c8c8c;
$dark-core-input-icon-hover: #6d6d6d;
$dark-core-input-icon-active: #595959;
$dark-core-input-icon-completed: #262626;
$dark-core-input-icon-error: #e70300;
$dark-core-input-icon-success: #2c9365;
$dark-core-input-icon-warning: #cc8103;
$dark-core-input-icon-info: #2658a9;
$dark-core-messaging-fill-error: #ffefef;
$dark-core-messaging-fill-success: #f1f8f5;
$dark-core-messaging-fill-warning: #fff7ef;
$dark-core-messaging-fill-info: #eff2f8;
$dark-core-messaging-border-error: #e70300;
$dark-core-messaging-border-success: #2c9365;
$dark-core-messaging-border-warning: #ffba5b;
$dark-core-messaging-border-info: #0d4391;
$dark-core-messaging-icon-error: #e70300;
$dark-core-messaging-icon-success: #2c9365;
$dark-core-messaging-icon-warning: #ffba5b;
$dark-core-messaging-icon-info: #0d4391;
$dark-core-messaging-link-text-default: #000000;
$dark-core-messaging-link-text-hover: #d9d9d9;
$dark-core-messaging-link-text-pressed: #cccccc;
$dark-core-messaging-link-text-visited: #ffffff;
$dark-core-messaging-link-icon-default: #000000;
$dark-core-messaging-link-icon-hover: #d9d9d9;
$dark-core-messaging-link-icon-pressed: #cccccc;
$dark-core-messaging-link-icon-visited: #ffffff;
$dark-core-messaging-link-underline-default: #000000;
$dark-core-messaging-link-underline-hover: #ffffff;
$dark-core-messaging-link-underline-pressed: #ffffff;
$dark-core-messaging-link-underline-visited: #e6e6e6;
$dark-core-interactive-primary-fill-default: #000000;
$dark-core-interactive-primary-fill-hover: #ffffff;
$dark-core-interactive-primary-fill-pressed: #ffffff;
$dark-core-interactive-primary-text-default: #ffffff;
$dark-core-interactive-primary-text-hover: #ffffff;
$dark-core-interactive-primary-text-pressed: #ffffff;
$dark-core-interactive-primary-icon-default: #ffffff;
$dark-core-interactive-primary-icon-hover: #ffffff;
$dark-core-interactive-primary-icon-pressed: #ffffff;
$dark-core-interactive-secondary-fill-default: #ffffff;
$dark-core-interactive-secondary-fill-hover: #262626;
$dark-core-interactive-secondary-fill-pressed: #333333;
$dark-core-interactive-secondary-border-default: #737373;
$dark-core-interactive-secondary-border-hover: #9d9d9d;
$dark-core-interactive-secondary-border-pressed: #a3a3a3;
$dark-core-interactive-secondary-text-default: #000000;
$dark-core-interactive-secondary-text-hover: #ffffff;
$dark-core-interactive-secondary-text-pressed: #ffffff;
$dark-core-interactive-secondary-icon-default: #000000;
$dark-core-interactive-secondary-icon-hover: #ffffff;
$dark-core-interactive-secondary-icon-pressed: #ffffff;
$dark-core-interactive-disabled-a: #d9d9d9;
$dark-core-interactive-disabled-b: #bfbfbf;
$dark-core-interactive-disabled-c: #a8a8a8;
$dark-core-interactive-negative-fill-default: #ffffff;
$dark-core-interactive-negative-fill-hover: #000000;
$dark-core-interactive-negative-fill-pressed: #000000;
$dark-core-interactive-negative-border-default: #ff403a;
$dark-core-interactive-negative-border-hover: #ff0c05;
$dark-core-interactive-negative-border-pressed: #f50700;
$dark-core-interactive-negative-text-default: #ff403a;
$dark-core-interactive-negative-text-hover: #ff0c05;
$dark-core-interactive-negative-text-pressed: #f50700;
$dark-core-interactive-negative-icon-default: #ff403a;
$dark-core-interactive-negative-icon-hover: #ff0c05;
$dark-core-interactive-negative-icon-pressed: #f50700;
$dark-core-interactive-link-secondary-text-default: #8c8c8c;
$dark-core-interactive-link-secondary-text-hover: #626262;
$dark-core-interactive-link-secondary-text-pressed: #5c5c5c;
$dark-core-interactive-link-secondary-text-visited: #858585;
$dark-core-interactive-link-secondary-icon-default: #8c8c8c;
$dark-core-interactive-link-secondary-icon-hover: #626262;
$dark-core-interactive-link-secondary-icon-pressed: #5c5c5c;
$dark-core-interactive-link-secondary-icon-visited: #858585;
$dark-core-interactive-link-secondary-underline-default: #8c8c8c;
$dark-core-interactive-link-secondary-underline-hover: #888888;
$dark-core-interactive-link-secondary-underline-pressed: #8f8f8f;
$dark-core-interactive-link-secondary-underline-visited: #686868;
$dark-core-interactive-link-primary-text-default: #000000;
$dark-core-interactive-link-primary-text-hover: #d9d9d9;
$dark-core-interactive-link-primary-text-pressed: #cccccc;
$dark-core-interactive-link-primary-text-visited: #ffffff;
$dark-core-interactive-link-primary-icon-default: #000000;
$dark-core-interactive-link-primary-icon-hover: #d9d9d9;
$dark-core-interactive-link-primary-icon-pressed: #cccccc;
$dark-core-interactive-link-primary-icon-visited: #ffffff;
$dark-core-interactive-link-primary-underline-default: #000000;
$dark-core-interactive-link-primary-underline-hover: #ffffff;
$dark-core-interactive-link-primary-underline-pressed: #ffffff;
$dark-core-interactive-link-primary-underline-visited: #e6e6e6;
$dark-core-interactive-chip-primary-on-fill-default: #000000;
$dark-core-interactive-chip-primary-on-fill-hover: #d9d9d9;
$dark-core-interactive-chip-primary-on-fill-pressed: #cccccc;
$dark-core-interactive-chip-primary-on-text-default: #ffffff;
$dark-core-interactive-chip-primary-on-text-hover: #000000;
$dark-core-interactive-chip-primary-on-text-pressed: #000000;
$dark-core-interactive-chip-primary-on-icon-default: #ffffff;
$dark-core-interactive-chip-primary-on-icon-hover: #000000;
$dark-core-interactive-chip-primary-on-icon-pressed: #000000;
$dark-core-interactive-chip-primary-off-fill-default: #ffffff;
$dark-core-interactive-chip-primary-off-fill-hover: #000000;
$dark-core-interactive-chip-primary-off-fill-pressed: #000000;
$dark-core-interactive-chip-primary-off-text-default: #000000;
$dark-core-interactive-chip-primary-off-text-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-text-pressed: #cccccc;
$dark-core-interactive-chip-primary-off-icon-default: #000000;
$dark-core-interactive-chip-primary-off-icon-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-icon-pressed: #cccccc;
$dark-core-interactive-chip-primary-off-border-default: #000000;
$dark-core-interactive-chip-primary-off-border-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-border-pressed: #cccccc;
$dark-core-interactive-chip-secondary-on-text-default: #000000;
$dark-core-interactive-chip-secondary-on-text-hover: #d9d9d9;
$dark-core-interactive-chip-secondary-on-text-pressed: #cccccc;
$dark-core-interactive-chip-secondary-on-fill-default: #d9d9d9;
$dark-core-interactive-chip-secondary-on-fill-hover: #202020;
$dark-core-interactive-chip-secondary-on-fill-pressed: #1e1e1e;
$dark-core-interactive-chip-secondary-on-border-default: #737373;
$dark-core-interactive-chip-secondary-on-border-hover: #777777;
$dark-core-interactive-chip-secondary-on-border-pressed: #707070;
$dark-core-interactive-chip-secondary-on-icon-default: #000000;
$dark-core-interactive-chip-secondary-on-icon-hover: #d9d9d9;
$dark-core-interactive-chip-secondary-on-icon-pressed: #cccccc;
$dark-core-interactive-chip-secondary-off-fill-default: #d9d9d9;
$dark-core-interactive-chip-secondary-off-fill-hover: #202020;
$dark-core-interactive-chip-secondary-off-fill-pressed: #1e1e1e;
$dark-core-interactive-chip-secondary-off-text-default: #595959;
$dark-core-interactive-chip-secondary-off-text-hover: #8d8d8d;
$dark-core-interactive-chip-secondary-off-text-pressed: #858585;
$dark-core-interactive-chip-secondary-off-icon-default: #595959;
$dark-core-interactive-chip-secondary-off-icon-hover: #8d8d8d;
$dark-core-interactive-chip-secondary-off-icon-pressed: #858585;
$dark-core-active-fill: #000000;
$dark-core-active-text: #ffffff;
$dark-core-active-border: #737373;
$dark-core-active-icon: #ffffff;
$dark-core-focus-border: #737373;
$dark-core-label-primary: #000000;
$dark-core-label-secondary: #262626;
$dark-core-label-callout: #ff403a;
$dark-core-flag-primary-fill: #000000;
$dark-core-flag-primary-text: #f2f2f2;
$dark-core-flag-primary-icon: #f2f2f2;
$dark-core-flag-secondary-text: #000000;
$dark-core-flag-secondary-icon: #000000;
$dark-core-flag-callout-fill: #ff403a;
$dark-core-flag-callout-text: #000000;
$dark-core-flag-callout-icon: #000000;
$dark-core-toast-fill-info: #6788c4;
$dark-core-toast-fill-success: #a9d8be;
$dark-core-toast-fill-warning: #ffcd8b;
$dark-core-toast-fill-error: #ff9f98;
$dark-core-toast-icon-info: #0b2c62;
$dark-core-toast-icon-success: #1b5339;
$dark-core-toast-icon-warning: #7e520d;
$dark-core-toast-icon-error: #670909;
$dark-core-toast-text-info: #000000;
$dark-core-toast-text-success: #000000;
$dark-core-toast-text-error: #000000;
$dark-core-toast-text-warning: #ffffff;
$dark-core-toast-link-info-default: #000000;
$dark-core-toast-link-info-hover: #d9d9d9;
$dark-core-toast-link-info-pressed: #cccccc;
$dark-core-toast-link-success-default: #000000;
$dark-core-toast-link-success-hover: #d9d9d9;
$dark-core-toast-link-success-pressed: #cccccc;
$dark-core-toast-link-error-default: #000000;
$dark-core-toast-link-error-hover: #d9d9d9;
$dark-core-toast-link-error-pressed: #cccccc;
$dark-core-toast-link-warning-default: #ffffff;
$dark-core-toast-link-warning-hover: #000000;
$dark-core-toast-link-warning-pressed: #000000;
$dark-core-tooltip-fill: #000000;
$dark-core-tooltip-text: #ffffff;
$dark-core-tooltip-icon: #ffffff;
$dark-core-theme-background: #000000;
$dark-core-theme-foreground: #e6e6e6;
$dark-core-theme-card: #0d0d0d;
$dark-core-theme-card-foreground: #e6e6e6;
$dark-core-theme-popover: #000000;
$dark-core-theme-popover-foreground: #e6e6e6;
$dark-core-theme-primary: #5b8eae;
$dark-core-theme-primary-foreground: #000000;
$dark-core-theme-secondary: #262626;
$dark-core-theme-secondary-foreground: #e6e6e6;
$dark-core-theme-tertiary: #3292a6;
$dark-core-theme-tertiary-foreground: #000000;
$dark-core-theme-muted: #1a1a1a;
$dark-core-theme-muted-foreground: #8c8c8c;
$dark-core-theme-border: #404040;
$dark-core-theme-input: #404040;
$dark-core-theme-ring: #8c8c8c;
$dark-core-theme-info: #0f4aa2;
$dark-core-theme-info-foreground: #000000;
$dark-core-theme-success: #31a46f;
$dark-core-theme-success-foreground: #000000;
$dark-core-theme-warning: #ffa300;
$dark-core-theme-warning-foreground: #e6e6e6;
$dark-core-theme-error: #ff0000;
$dark-core-theme-error-foreground: #000000;
$dark-core-theme-destructive: #ff0000;
$dark-core-theme-destructive-foreground: #000000;
$dark-core-theme-chart-1: #254251;
$dark-core-theme-chart-2: #e0ab26;
$dark-core-theme-chart-3: #75b2dd;
$dark-core-theme-chart-4: #f37f2f;
$dark-core-theme-chart-5: #3292a6;