$light-core-surface-undercanvas: #ebebeb;
$light-core-surface-canvas: #ffffff;
$light-core-surface-transparent: #ffffff;
$light-core-surface-level-1: #ffffff;
$light-core-surface-level-2: #ffffff;
$light-core-surface-level-3: #ffffff;
$light-core-surface-level-4: #ffffff;
$light-core-surface-inverse: #070707;
$light-core-surface-overlay: rgba(0, 0, 0, 0.45);
$light-core-surface-static-dark: #070707;
$light-core-surface-static-light: #ffffff;
$light-core-text-primary: #101010;
$light-core-text-inverse: #ffffff;
$light-core-text-secondary: #303030;
$light-core-text-tertiary: #606060;
$light-core-text-static-dark: #070707;
$light-core-text-static-light: #ffffff;
$light-core-icon-primary: #1a1a1a;
$light-core-icon-inverse: #ffffff;
$light-core-icon-secondary: #404040;
$light-core-icon-tertiary: #737373;
$light-core-border-primary: #a3a3a3;
$light-core-border-secondary: #bfbfbf;
$light-core-border-tertiary: #dcdcdc;
$light-core-border-elevation: #dcdcdc;
$light-core-border-static-dark: #070707;
$light-core-border-static-light: #ffffff;
$light-core-input-fill-default: #ffffff;
$light-core-input-fill-error: #fcd5d2;
$light-core-input-fill-hover: #ebebeb;
$light-core-input-fill-active: #ffffff;
$light-core-input-fill-completed: #ffffff;
$light-core-input-fill-success: #96eabb;
$light-core-input-fill-warning: #fee8d0;
$light-core-input-fill-info: #b8d3ff;
$light-core-input-border-default: #7a7a7a;
$light-core-input-border-error: #52020c;
$light-core-input-border-hover: #6d6d6d;
$light-core-input-border-active: #484848;
$light-core-input-border-completed: #1b1b1b;
$light-core-input-border-success: #044228;
$light-core-input-border-warning: #613d0a;
$light-core-input-border-info: #023379;
$light-core-input-text-default: #737373;
$light-core-input-text-error: #1a1a1a;
$light-core-input-text-hover: #404040;
$light-core-input-text-active: #1a1a1a;
$light-core-input-text-completed: #1a1a1a;
$light-core-input-text-success: #1a1a1a;
$light-core-input-text-warning: #1a1a1a;
$light-core-input-text-info: #1a1a1a;
$light-core-input-icon-default: #8c8c8c;
$light-core-input-icon-hover: #6d6d6d;
$light-core-input-icon-active: #595959;
$light-core-input-icon-completed: #262626;
$light-core-input-icon-error: #b20908;
$light-core-input-icon-success: #298458;
$light-core-input-icon-warning: #cc8103;
$light-core-input-icon-info: #2658a9;
$light-core-messaging-fill-error: #fcd5d2;
$light-core-messaging-fill-success: #96eabb;
$light-core-messaging-fill-warning: #fee8d0;
$light-core-messaging-fill-info: #b8d3ff;
$light-core-messaging-border-error: #52020c;
$light-core-messaging-border-success: #044228;
$light-core-messaging-border-warning: #794d0b;
$light-core-messaging-border-info: #052c67;
$light-core-messaging-icon-error: #650c15;
$light-core-messaging-icon-success: #0f613e;
$light-core-messaging-icon-warning: #794d0b;
$light-core-messaging-icon-info: #052c67;
$light-core-messaging-link-text-default: #1a1a1a;
$light-core-messaging-link-text-hover: #161616;
$light-core-messaging-link-text-pressed: #151515;
$light-core-messaging-link-text-visited: #484848;
$light-core-messaging-link-icon-default: #1a1a1a;
$light-core-messaging-link-icon-hover: #161616;
$light-core-messaging-link-icon-pressed: #151515;
$light-core-messaging-link-icon-visited: #484848;
$light-core-messaging-link-underline-default: #1a1a1a;
$light-core-messaging-link-underline-hover: #3c3c3c;
$light-core-messaging-link-underline-pressed: #484848;
$light-core-messaging-link-underline-visited: #4e4e4e;
$light-core-interactive-primary-fill-default: #000000;
$light-core-interactive-primary-fill-hover: #004e75;
$light-core-interactive-primary-fill-pressed: #00496e;
$light-core-interactive-primary-text-default: #ffffff;
$light-core-interactive-primary-text-hover: #ffffff;
$light-core-interactive-primary-text-pressed: #ffffff;
$light-core-interactive-primary-icon-default: #ffffff;
$light-core-interactive-primary-icon-hover: #ffffff;
$light-core-interactive-primary-icon-pressed: #ffffff;
$light-core-interactive-secondary-fill-default: #ffffff;
$light-core-interactive-secondary-fill-hover: #d9d9d9;
$light-core-interactive-secondary-fill-pressed: #cccccc;
$light-core-interactive-secondary-border-default: #7a7a7a;
$light-core-interactive-secondary-border-hover: #777777;
$light-core-interactive-secondary-border-pressed: #707070;
$light-core-interactive-secondary-text-default: #1a1a1a;
$light-core-interactive-secondary-text-hover: #161616;
$light-core-interactive-secondary-text-pressed: #151515;
$light-core-interactive-secondary-icon-default: #1a1a1a;
$light-core-interactive-secondary-icon-hover: #161616;
$light-core-interactive-secondary-icon-pressed: #111111;
$light-core-interactive-disabled-a: #cecece;
$light-core-interactive-disabled-b: #b1b1b1;
$light-core-interactive-disabled-c: #959595;
$light-core-interactive-negative-fill-default: #ffffff;
$light-core-interactive-negative-fill-hover: #d9d9d9;
$light-core-interactive-negative-fill-pressed: #cccccc;
$light-core-interactive-negative-border-default: #650c15;
$light-core-interactive-negative-border-hover: #ad0604;
$light-core-interactive-negative-border-pressed: #a20604;
$light-core-interactive-negative-text-default: #650c15;
$light-core-interactive-negative-text-hover: #ad0604;
$light-core-interactive-negative-text-pressed: #a20604;
$light-core-interactive-negative-icon-default: #cb0705;
$light-core-interactive-negative-icon-hover: #ad0604;
$light-core-interactive-negative-icon-pressed: #a20604;
$light-core-interactive-link-primary-text-default: #170007;
$light-core-interactive-link-primary-text-hover: #205c7f;
$light-core-interactive-link-primary-text-pressed: #1e5777;
$light-core-interactive-link-primary-text-visited: #2d7faf;
$light-core-interactive-link-primary-icon-default: #266d95;
$light-core-interactive-link-primary-icon-hover: #205c7f;
$light-core-interactive-link-primary-icon-pressed: #1e5777;
$light-core-interactive-link-primary-icon-visited: #2d7faf;
$light-core-interactive-link-primary-underline-default: #266d95;
$light-core-interactive-link-primary-underline-hover: #205c7f;
$light-core-interactive-link-primary-underline-pressed: #1e5777;
$light-core-interactive-link-primary-underline-visited: #2d7faf;
$light-core-interactive-link-secondary-text-default: #1a1a1a;
$light-core-interactive-link-secondary-text-hover: #161616;
$light-core-interactive-link-secondary-text-pressed: #151515;
$light-core-interactive-link-secondary-text-visited: #484848;
$light-core-interactive-link-secondary-icon-default: #1a1a1a;
$light-core-interactive-link-secondary-icon-hover: #161616;
$light-core-interactive-link-secondary-icon-pressed: #151515;
$light-core-interactive-link-secondary-icon-visited: #484848;
$light-core-interactive-link-secondary-underline-default: #1a1a1a;
$light-core-interactive-link-secondary-underline-hover: #3c3c3c;
$light-core-interactive-link-secondary-underline-pressed: #484848;
$light-core-interactive-link-secondary-underline-visited: #4e4e4e;
$light-core-interactive-chip-primary-on-fill-default: #005c8a;
$light-core-interactive-chip-primary-on-fill-hover: #004e75;
$light-core-interactive-chip-primary-on-fill-pressed: #00496e;
$light-core-interactive-chip-primary-on-text-default: #ffffff;
$light-core-interactive-chip-primary-on-text-hover: #d9d9d9;
$light-core-interactive-chip-primary-on-text-pressed: #cccccc;
$light-core-interactive-chip-primary-on-icon-default: #ffffff;
$light-core-interactive-chip-primary-on-icon-hover: #d9d9d9;
$light-core-interactive-chip-primary-on-icon-pressed: #cccccc;
$light-core-interactive-chip-primary-off-fill-default: #ebebeb;
$light-core-interactive-chip-primary-off-fill-hover: #cecece;
$light-core-interactive-chip-primary-off-fill-pressed: #c2c2c2;
$light-core-interactive-chip-primary-off-text-default: #005c8a;
$light-core-interactive-chip-primary-off-text-hover: #004e75;
$light-core-interactive-chip-primary-off-text-pressed: #00496e;
$light-core-interactive-chip-primary-off-icon-default: #005c8a;
$light-core-interactive-chip-primary-off-icon-hover: #004e75;
$light-core-interactive-chip-primary-off-icon-pressed: #00496e;
$light-core-interactive-chip-primary-off-border-default: #005c8a;
$light-core-interactive-chip-primary-off-border-hover: #004e75;
$light-core-interactive-chip-primary-off-border-pressed: #00496e;
$light-core-interactive-chip-secondary-on-text-default: #1a1a1a;
$light-core-interactive-chip-secondary-on-text-hover: #161616;
$light-core-interactive-chip-secondary-on-text-pressed: #151515;
$light-core-interactive-chip-secondary-on-fill-default: #ffffff;
$light-core-interactive-chip-secondary-on-fill-hover: #d9d9d9;
$light-core-interactive-chip-secondary-on-fill-pressed: #cccccc;
$light-core-interactive-chip-secondary-on-border-default: #8c8c8c;
$light-core-interactive-chip-secondary-on-border-hover: #777777;
$light-core-interactive-chip-secondary-on-border-pressed: #707070;
$light-core-interactive-chip-secondary-on-icon-default: #1a1a1a;
$light-core-interactive-chip-secondary-on-icon-hover: #161616;
$light-core-interactive-chip-secondary-on-icon-pressed: #151515;
$light-core-interactive-chip-secondary-off-fill-default: #ebebeb;
$light-core-interactive-chip-secondary-off-fill-hover: #cecece;
$light-core-interactive-chip-secondary-off-fill-pressed: #c2c2c2;
$light-core-interactive-chip-secondary-off-text-default: #404040;
$light-core-interactive-chip-secondary-off-text-hover: #363636;
$light-core-interactive-chip-secondary-off-text-pressed: #333333;
$light-core-interactive-chip-secondary-off-icon-default: #404040;
$light-core-interactive-chip-secondary-off-icon-hover: #363636;
$light-core-interactive-chip-secondary-off-icon-pressed: #333333;
$light-core-active-fill: #070707;
$light-core-active-text: #ffffff;
$light-core-active-border: #000000;
$light-core-active-icon: #ffffff;
$light-core-focus-border: #606060;
$light-core-label-primary: #1a1a1a;
$light-core-label-secondary: #737373;
$light-core-label-callout: #b20908;
$light-core-flag-primary-fill: #070707;
$light-core-flag-primary-text: #ebebeb;
$light-core-flag-primary-icon: #f2f2f2;
$light-core-flag-secondary-text: #1a1a1a;
$light-core-flag-secondary-icon: #1a1a1a;
$light-core-flag-callout-fill: #52020c;
$light-core-flag-callout-text: #ffffff;
$light-core-flag-callout-icon: #ffffff;
$light-core-toast-fill-info: #02183f;
$light-core-toast-fill-success: #05331e;
$light-core-toast-fill-warning: #794d0b;
$light-core-toast-fill-error: #650c15;
$light-core-toast-icon-info: #3770c9;
$light-core-toast-icon-success: #51bc86;
$light-core-toast-icon-warning: #fdc380;
$light-core-toast-icon-error: #fc8481;
$light-core-toast-text-info: #ffffff;
$light-core-toast-text-success: #ffffff;
$light-core-toast-text-error: #ffffff;
$light-core-toast-text-warning: #070707;
$light-core-toast-link-info-default: #ffffff;
$light-core-toast-link-info-hover: #d9d9d9;
$light-core-toast-link-info-pressed: #cccccc;
$light-core-toast-link-success-default: #ffffff;
$light-core-toast-link-success-hover: #d9d9d9;
$light-core-toast-link-success-pressed: #cccccc;
$light-core-toast-link-error-default: #ffffff;
$light-core-toast-link-error-hover: #d9d9d9;
$light-core-toast-link-error-pressed: #cccccc;
$light-core-toast-link-warning-default: #070707;
$light-core-toast-link-warning-hover: #000000;
$light-core-toast-link-warning-pressed: #000000;
$light-core-tooltip-fill: #000000;
$light-core-tooltip-text: #ffffff;
$light-core-tooltip-icon: #ffffff;
$light-core-theme-background: #fcfcfc;
$light-core-theme-foreground: #000000;
$light-core-theme-card: #ffffff;
$light-core-theme-card-foreground: #000000;
$light-core-theme-popover: #fcfcfc;
$light-core-theme-popover-foreground: #000000;
$light-core-theme-primary: #000000;
$light-core-theme-primary-foreground: #ffffff;
$light-core-theme-secondary: #ebebeb;
$light-core-theme-secondary-foreground: #000000;
$light-core-theme-tertiary: #ebebeb;
$light-core-theme-tertiary-foreground: #000000;
$light-core-theme-muted: #f5f5f5;
$light-core-theme-muted-foreground: #525252;
$light-core-theme-border: #e4e4e4;
$light-core-theme-input: #ebebeb;
$light-core-theme-ring: #000000;
$light-core-theme-info: #0f4aa2;
$light-core-theme-info-foreground: #ffffff;
$light-core-theme-success: #31a46f;
$light-core-theme-success-foreground: #ffffff;
$light-core-theme-warning: #ffa300;
$light-core-theme-warning-foreground: #101010;
$light-core-theme-error: #e54b4f;
$light-core-theme-error-foreground: #ffffff;
$light-core-theme-destructive: #e54b4f;
$light-core-theme-destructive-foreground: #ffffff;
$light-core-theme-chart-1: #f9b138;
$light-core-theme-chart-2: #2d62ef;
$light-core-theme-chart-3: #a4a4a4;
$light-core-theme-chart-4: #e4e4e4;
$light-core-theme-chart-5: #747474;