$dark-core-surface-undercanvas: #0a0a0a;
$dark-core-surface-canvas: #000000;
$dark-core-surface-transparent: #000000;
$dark-core-surface-level-1: #030303;
$dark-core-surface-level-2: #0a0a0a;
$dark-core-surface-level-3: #131313;
$dark-core-surface-level-4: #0a0a0a;
$dark-core-surface-inverse: #e8e8e8;
$dark-core-surface-overlay: rgba(0, 0, 0, 0.55);
$dark-core-surface-static-dark: #000000;
$dark-core-surface-static-light: #e8e8e8;
$dark-core-text-primary: #e8e8e8;
$dark-core-text-inverse: #000000;
$dark-core-text-secondary: #c9c9c9;
$dark-core-text-tertiary: #909090;
$dark-core-text-static-dark: #000000;
$dark-core-text-static-light: #e8e8e8;
$dark-core-icon-primary: #000000;
$dark-core-icon-inverse: #000000;
$dark-core-icon-secondary: #262626;
$dark-core-icon-tertiary: #595959;
$dark-core-border-primary: #414141;
$dark-core-border-secondary: #1e1e1e;
$dark-core-border-tertiary: #0a0a0a;
$dark-core-border-elevation: #1e1e1e;
$dark-core-border-static-dark: #000000;
$dark-core-border-static-light: #e8e8e8;
$dark-core-input-fill-default: #000000;
$dark-core-input-fill-error: #140001;
$dark-core-input-fill-hover: #030303;
$dark-core-input-fill-active: #000000;
$dark-core-input-fill-completed: #000000;
$dark-core-input-fill-success: #000803;
$dark-core-input-fill-warning: #090300;
$dark-core-input-fill-info: #000b27;
$dark-core-input-border-default: #5a5a5a;
$dark-core-input-border-error: #d46260;
$dark-core-input-border-hover: #676767;
$dark-core-input-border-active: #909090;
$dark-core-input-border-completed: #c9c9c9;
$dark-core-input-border-success: #4e9b73;
$dark-core-input-border-warning: #c58737;
$dark-core-input-border-info: #6496e6;
$dark-core-input-text-default: #595959;
$dark-core-input-text-error: #000000;
$dark-core-input-text-hover: #262626;
$dark-core-input-text-active: #000000;
$dark-core-input-text-completed: #000000;
$dark-core-input-text-success: #000000;
$dark-core-input-text-warning: #000000;
$dark-core-input-text-info: #000000;
$dark-core-input-icon-default: #8c8c8c;
$dark-core-input-icon-hover: #6d6d6d;
$dark-core-input-icon-active: #595959;
$dark-core-input-icon-completed: #262626;
$dark-core-input-icon-error: #e70300;
$dark-core-input-icon-success: #2c9365;
$dark-core-input-icon-warning: #cc8103;
$dark-core-input-icon-info: #2658a9;
$dark-core-messaging-fill-error: #140001;
$dark-core-messaging-fill-success: #000803;
$dark-core-messaging-fill-warning: #090300;
$dark-core-messaging-fill-info: #000b27;
$dark-core-messaging-border-error: #d46260;
$dark-core-messaging-border-success: #4e9b73;
$dark-core-messaging-border-warning: #523204;
$dark-core-messaging-border-info: #80aef7;
$dark-core-messaging-icon-error: #d46260;
$dark-core-messaging-icon-success: #4e9b73;
$dark-core-messaging-icon-warning: #523204;
$dark-core-messaging-icon-info: #80aef7;
$dark-core-messaging-link-text-default: #000000;
$dark-core-messaging-link-text-hover: #d9d9d9;
$dark-core-messaging-link-text-pressed: #cccccc;
$dark-core-messaging-link-text-visited: #ffffff;
$dark-core-messaging-link-icon-default: #000000;
$dark-core-messaging-link-icon-hover: #d9d9d9;
$dark-core-messaging-link-icon-pressed: #cccccc;
$dark-core-messaging-link-icon-visited: #ffffff;
$dark-core-messaging-link-underline-default: #000000;
$dark-core-messaging-link-underline-hover: #ffffff;
$dark-core-messaging-link-underline-pressed: #ffffff;
$dark-core-messaging-link-underline-visited: #e6e6e6;
$dark-core-interactive-primary-fill-default: #e8e8e8;
$dark-core-interactive-primary-fill-hover: #ffffff;
$dark-core-interactive-primary-fill-pressed: #ffffff;
$dark-core-interactive-primary-text-default: #000000;
$dark-core-interactive-primary-text-hover: #ffffff;
$dark-core-interactive-primary-text-pressed: #ffffff;
$dark-core-interactive-primary-icon-default: #ffffff;
$dark-core-interactive-primary-icon-hover: #ffffff;
$dark-core-interactive-primary-icon-pressed: #ffffff;
$dark-core-interactive-secondary-fill-default: #ffffff;
$dark-core-interactive-secondary-fill-hover: #262626;
$dark-core-interactive-secondary-fill-pressed: #333333;
$dark-core-interactive-secondary-border-default: #747474;
$dark-core-interactive-secondary-border-hover: #9d9d9d;
$dark-core-interactive-secondary-border-pressed: #a3a3a3;
$dark-core-interactive-secondary-text-default: #000000;
$dark-core-interactive-secondary-text-hover: #ffffff;
$dark-core-interactive-secondary-text-pressed: #ffffff;
$dark-core-interactive-secondary-icon-default: #000000;
$dark-core-interactive-secondary-icon-hover: #ffffff;
$dark-core-interactive-secondary-icon-pressed: #ffffff;
$dark-core-interactive-disabled-a: #131313;
$dark-core-interactive-disabled-b: #292929;
$dark-core-interactive-disabled-c: #414141;
$dark-core-interactive-negative-fill-default: #000000;
$dark-core-interactive-negative-fill-hover: #000000;
$dark-core-interactive-negative-fill-pressed: #000000;
$dark-core-interactive-negative-border-default: #a01c27;
$dark-core-interactive-negative-border-hover: #ff0c05;
$dark-core-interactive-negative-border-pressed: #f50700;
$dark-core-interactive-negative-text-default: #a01c27;
$dark-core-interactive-negative-text-hover: #ff0c05;
$dark-core-interactive-negative-text-pressed: #f50700;
$dark-core-interactive-negative-icon-default: #ff403a;
$dark-core-interactive-negative-icon-hover: #ff0c05;
$dark-core-interactive-negative-icon-pressed: #f50700;
$dark-core-interactive-link-secondary-text-default: #5a5a5a;
$dark-core-interactive-link-secondary-text-hover: #626262;
$dark-core-interactive-link-secondary-text-pressed: #5c5c5c;
$dark-core-interactive-link-secondary-text-visited: #858585;
$dark-core-interactive-link-secondary-icon-default: #8c8c8c;
$dark-core-interactive-link-secondary-icon-hover: #626262;
$dark-core-interactive-link-secondary-icon-pressed: #5c5c5c;
$dark-core-interactive-link-secondary-icon-visited: #858585;
$dark-core-interactive-link-secondary-underline-default: #8c8c8c;
$dark-core-interactive-link-secondary-underline-hover: #888888;
$dark-core-interactive-link-secondary-underline-pressed: #8f8f8f;
$dark-core-interactive-link-secondary-underline-visited: #686868;
$dark-core-interactive-link-primary-text-default: #000000;
$dark-core-interactive-link-primary-text-hover: #d9d9d9;
$dark-core-interactive-link-primary-text-pressed: #cccccc;
$dark-core-interactive-link-primary-text-visited: #ffffff;
$dark-core-interactive-link-primary-icon-default: #000000;
$dark-core-interactive-link-primary-icon-hover: #d9d9d9;
$dark-core-interactive-link-primary-icon-pressed: #cccccc;
$dark-core-interactive-link-primary-icon-visited: #ffffff;
$dark-core-interactive-link-primary-underline-default: #000000;
$dark-core-interactive-link-primary-underline-hover: #ffffff;
$dark-core-interactive-link-primary-underline-pressed: #ffffff;
$dark-core-interactive-link-primary-underline-visited: #e6e6e6;
$dark-core-interactive-chip-primary-on-fill-default: #000000;
$dark-core-interactive-chip-primary-on-fill-hover: #d9d9d9;
$dark-core-interactive-chip-primary-on-fill-pressed: #cccccc;
$dark-core-interactive-chip-primary-on-text-default: #ffffff;
$dark-core-interactive-chip-primary-on-text-hover: #000000;
$dark-core-interactive-chip-primary-on-text-pressed: #000000;
$dark-core-interactive-chip-primary-on-icon-default: #ffffff;
$dark-core-interactive-chip-primary-on-icon-hover: #000000;
$dark-core-interactive-chip-primary-on-icon-pressed: #000000;
$dark-core-interactive-chip-primary-off-fill-default: #ffffff;
$dark-core-interactive-chip-primary-off-fill-hover: #000000;
$dark-core-interactive-chip-primary-off-fill-pressed: #000000;
$dark-core-interactive-chip-primary-off-text-default: #000000;
$dark-core-interactive-chip-primary-off-text-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-text-pressed: #cccccc;
$dark-core-interactive-chip-primary-off-icon-default: #000000;
$dark-core-interactive-chip-primary-off-icon-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-icon-pressed: #cccccc;
$dark-core-interactive-chip-primary-off-border-default: #000000;
$dark-core-interactive-chip-primary-off-border-hover: #d9d9d9;
$dark-core-interactive-chip-primary-off-border-pressed: #cccccc;
$dark-core-interactive-chip-secondary-on-text-default: #000000;
$dark-core-interactive-chip-secondary-on-text-hover: #d9d9d9;
$dark-core-interactive-chip-secondary-on-text-pressed: #cccccc;
$dark-core-interactive-chip-secondary-on-fill-default: #131313;
$dark-core-interactive-chip-secondary-on-fill-hover: #202020;
$dark-core-interactive-chip-secondary-on-fill-pressed: #1e1e1e;
$dark-core-interactive-chip-secondary-on-border-default: #737373;
$dark-core-interactive-chip-secondary-on-border-hover: #777777;
$dark-core-interactive-chip-secondary-on-border-pressed: #707070;
$dark-core-interactive-chip-secondary-on-icon-default: #000000;
$dark-core-interactive-chip-secondary-on-icon-hover: #d9d9d9;
$dark-core-interactive-chip-secondary-on-icon-pressed: #cccccc;
$dark-core-interactive-chip-secondary-off-fill-default: #d9d9d9;
$dark-core-interactive-chip-secondary-off-fill-hover: #202020;
$dark-core-interactive-chip-secondary-off-fill-pressed: #1e1e1e;
$dark-core-interactive-chip-secondary-off-text-default: #595959;
$dark-core-interactive-chip-secondary-off-text-hover: #8d8d8d;
$dark-core-interactive-chip-secondary-off-text-pressed: #858585;
$dark-core-interactive-chip-secondary-off-icon-default: #595959;
$dark-core-interactive-chip-secondary-off-icon-hover: #8d8d8d;
$dark-core-interactive-chip-secondary-off-icon-pressed: #858585;
$dark-core-active-fill: #e8e8e8;
$dark-core-active-text: #000000;
$dark-core-active-border: #747474;
$dark-core-active-icon: #000000;
$dark-core-focus-border: #747474;
$dark-core-label-primary: #000000;
$dark-core-label-secondary: #262626;
$dark-core-label-callout: #ff403a;
$dark-core-flag-primary-fill: #e8e8e8;
$dark-core-flag-primary-text: #030303;
$dark-core-flag-primary-icon: #f2f2f2;
$dark-core-flag-secondary-text: #000000;
$dark-core-flag-secondary-icon: #000000;
$dark-core-flag-callout-fill: #a01c27;
$dark-core-flag-callout-text: #000000;
$dark-core-flag-callout-icon: #000000;
$dark-core-toast-fill-info: #3b6ec0;
$dark-core-toast-fill-success: #06331f;
$dark-core-toast-fill-warning: #3e2503;
$dark-core-toast-fill-error: #570810;
$dark-core-toast-icon-info: #b7d2fb;
$dark-core-toast-icon-success: #b0e2c5;
$dark-core-toast-icon-warning: #f8c995;
$dark-core-toast-icon-error: #ffdfdd;
$dark-core-toast-text-info: #e8e8e8;
$dark-core-toast-text-success: #e8e8e8;
$dark-core-toast-text-error: #e8e8e8;
$dark-core-toast-text-warning: #000000;
$dark-core-toast-link-info-default: #e8e8e8;
$dark-core-toast-link-info-hover: #d9d9d9;
$dark-core-toast-link-info-pressed: #cccccc;
$dark-core-toast-link-success-default: #000000;
$dark-core-toast-link-success-hover: #d9d9d9;
$dark-core-toast-link-success-pressed: #cccccc;
$dark-core-toast-link-error-default: #000000;
$dark-core-toast-link-error-hover: #d9d9d9;
$dark-core-toast-link-error-pressed: #cccccc;
$dark-core-toast-link-warning-default: #000000;
$dark-core-toast-link-warning-hover: #000000;
$dark-core-toast-link-warning-pressed: #000000;
$dark-core-tooltip-fill: #000000;
$dark-core-tooltip-text: #ffffff;
$dark-core-tooltip-icon: #ffffff;
$dark-core-theme-background: #000000;
$dark-core-theme-foreground: #ffffff;
$dark-core-theme-card: #090909;
$dark-core-theme-card-foreground: #ffffff;
$dark-core-theme-popover: #121212;
$dark-core-theme-popover-foreground: #ffffff;
$dark-core-theme-primary: #ffffff;
$dark-core-theme-primary-foreground: #000000;
$dark-core-theme-secondary: #222222;
$dark-core-theme-secondary-foreground: #ffffff;
$dark-core-theme-tertiary: #333333;
$dark-core-theme-tertiary-foreground: #ffffff;
$dark-core-theme-muted: #1d1d1d;
$dark-core-theme-muted-foreground: #a4a4a4;
$dark-core-theme-border: #242424;
$dark-core-theme-input: #333333;
$dark-core-theme-ring: #a4a4a4;
$dark-core-theme-info: #3b6ec0;
$dark-core-theme-info-foreground: #000000;
$dark-core-theme-success: #09472d;
$dark-core-theme-success-foreground: #000000;
$dark-core-theme-warning: #482c03;
$dark-core-theme-warning-foreground: #d8d8d8;
$dark-core-theme-error: #ff5b5b;
$dark-core-theme-error-foreground: #000000;
$dark-core-theme-destructive: #ff5b5b;
$dark-core-theme-destructive-foreground: #000000;
$dark-core-theme-chart-1: #f9b138;
$dark-core-theme-chart-2: #2671f4;
$dark-core-theme-chart-3: #747474;
$dark-core-theme-chart-4: #525252;
$dark-core-theme-chart-5: #e4e4e4;