$light-core-surface-undercanvas: #f2f2f2;
$light-core-surface-canvas: #ffffff;
$light-core-surface-transparent: #ffffff;
$light-core-surface-level-1: #ffffff;
$light-core-surface-level-2: #ffffff;
$light-core-surface-level-3: #ffffff;
$light-core-surface-level-4: #ffffff;
$light-core-surface-inverse: #000000;
$light-core-surface-overlay: rgba(0, 0, 0, 0.45);
$light-core-surface-static-dark: #000000;
$light-core-surface-static-light: #ffffff;
$light-core-text-primary: #1a1a1a;
$light-core-text-inverse: #ffffff;
$light-core-text-secondary: #404040;
$light-core-text-tertiary: #737373;
$light-core-text-static-dark: #000000;
$light-core-text-static-light: #ffffff;
$light-core-icon-primary: #1a1a1a;
$light-core-icon-inverse: #ffffff;
$light-core-icon-secondary: #404040;
$light-core-icon-tertiary: #737373;
$light-core-border-primary: #b3b3b3;
$light-core-border-secondary: #cccccc;
$light-core-border-tertiary: #e6e6e6;
$light-core-border-elevation: #e6e6e6;
$light-core-border-static-dark: #000000;
$light-core-border-static-light: #ffffff;
$light-core-input-fill-default: #ffffff;
$light-core-input-fill-error: #ffefef;
$light-core-input-fill-hover: #f2f2f2;
$light-core-input-fill-active: #ffffff;
$light-core-input-fill-completed: #ffffff;
$light-core-input-fill-success: #e9f3ed;
$light-core-input-fill-warning: #fff7ef;
$light-core-input-fill-info: #eff2f8;
$light-core-input-border-default: #8c8c8c;
$light-core-input-border-error: #b20908;
$light-core-input-border-hover: #6d6d6d;
$light-core-input-border-active: #595959;
$light-core-input-border-completed: #262626;
$light-core-input-border-success: #298458;
$light-core-input-border-warning: #cc8103;
$light-core-input-border-info: #2658a9;
$light-core-input-text-default: #737373;
$light-core-input-text-error: #1a1a1a;
$light-core-input-text-hover: #404040;
$light-core-input-text-active: #1a1a1a;
$light-core-input-text-completed: #1a1a1a;
$light-core-input-text-success: #1a1a1a;
$light-core-input-text-warning: #1a1a1a;
$light-core-input-text-info: #1a1a1a;
$light-core-input-icon-default: #8c8c8c;
$light-core-input-icon-hover: #6d6d6d;
$light-core-input-icon-active: #595959;
$light-core-input-icon-completed: #262626;
$light-core-input-icon-error: #b20908;
$light-core-input-icon-success: #298458;
$light-core-input-icon-warning: #cc8103;
$light-core-input-icon-info: #2658a9;
$light-core-messaging-fill-error: #ffefef;
$light-core-messaging-fill-success: #e9f3ed;
$light-core-messaging-fill-warning: #fff7ef;
$light-core-messaging-fill-info: #eff2f8;
$light-core-messaging-border-error: #b20908;
$light-core-messaging-border-success: #298458;
$light-core-messaging-border-warning: #e49307;
$light-core-messaging-border-info: #0f4aa2;
$light-core-messaging-icon-error: #cb0705;
$light-core-messaging-icon-success: #31a46f;
$light-core-messaging-icon-warning: #e49307;
$light-core-messaging-icon-info: #0f4aa2;
$light-core-messaging-link-text-default: #1a1a1a;
$light-core-messaging-link-text-hover: #161616;
$light-core-messaging-link-text-pressed: #151515;
$light-core-messaging-link-text-visited: #484848;
$light-core-messaging-link-icon-default: #1a1a1a;
$light-core-messaging-link-icon-hover: #161616;
$light-core-messaging-link-icon-pressed: #151515;
$light-core-messaging-link-icon-visited: #484848;
$light-core-messaging-link-underline-default: #1a1a1a;
$light-core-messaging-link-underline-hover: #3c3c3c;
$light-core-messaging-link-underline-pressed: #484848;
$light-core-messaging-link-underline-visited: #4e4e4e;
$light-core-interactive-primary-fill-default: #005c8a;
$light-core-interactive-primary-fill-hover: #004e75;
$light-core-interactive-primary-fill-pressed: #00496e;
$light-core-interactive-primary-text-default: #ffffff;
$light-core-interactive-primary-text-hover: #ffffff;
$light-core-interactive-primary-text-pressed: #ffffff;
$light-core-interactive-primary-icon-default: #ffffff;
$light-core-interactive-primary-icon-hover: #ffffff;
$light-core-interactive-primary-icon-pressed: #ffffff;
$light-core-interactive-secondary-fill-default: #ffffff;
$light-core-interactive-secondary-fill-hover: #d9d9d9;
$light-core-interactive-secondary-fill-pressed: #cccccc;
$light-core-interactive-secondary-border-default: #8c8c8c;
$light-core-interactive-secondary-border-hover: #777777;
$light-core-interactive-secondary-border-pressed: #707070;
$light-core-interactive-secondary-text-default: #1a1a1a;
$light-core-interactive-secondary-text-hover: #161616;
$light-core-interactive-secondary-text-pressed: #151515;
$light-core-interactive-secondary-icon-default: #1a1a1a;
$light-core-interactive-secondary-icon-hover: #161616;
$light-core-interactive-secondary-icon-pressed: #111111;
$light-core-interactive-disabled-a: #d9d9d9;
$light-core-interactive-disabled-b: #bfbfbf;
$light-core-interactive-disabled-c: #a8a8a8;
$light-core-interactive-negative-fill-default: #ffffff;
$light-core-interactive-negative-fill-hover: #d9d9d9;
$light-core-interactive-negative-fill-pressed: #cccccc;
$light-core-interactive-negative-border-default: #cb0705;
$light-core-interactive-negative-border-hover: #ad0604;
$light-core-interactive-negative-border-pressed: #a20604;
$light-core-interactive-negative-text-default: #cb0705;
$light-core-interactive-negative-text-hover: #ad0604;
$light-core-interactive-negative-text-pressed: #a20604;
$light-core-interactive-negative-icon-default: #cb0705;
$light-core-interactive-negative-icon-hover: #ad0604;
$light-core-interactive-negative-icon-pressed: #a20604;
$light-core-interactive-link-primary-text-default: #266d95;
$light-core-interactive-link-primary-text-hover: #205c7f;
$light-core-interactive-link-primary-text-pressed: #1e5777;
$light-core-interactive-link-primary-text-visited: #2d7faf;
$light-core-interactive-link-primary-icon-default: #266d95;
$light-core-interactive-link-primary-icon-hover: #205c7f;
$light-core-interactive-link-primary-icon-pressed: #1e5777;
$light-core-interactive-link-primary-icon-visited: #2d7faf;
$light-core-interactive-link-primary-underline-default: #266d95;
$light-core-interactive-link-primary-underline-hover: #205c7f;
$light-core-interactive-link-primary-underline-pressed: #1e5777;
$light-core-interactive-link-primary-underline-visited: #2d7faf;
$light-core-interactive-link-secondary-text-default: #1a1a1a;
$light-core-interactive-link-secondary-text-hover: #161616;
$light-core-interactive-link-secondary-text-pressed: #151515;
$light-core-interactive-link-secondary-text-visited: #484848;
$light-core-interactive-link-secondary-icon-default: #1a1a1a;
$light-core-interactive-link-secondary-icon-hover: #161616;
$light-core-interactive-link-secondary-icon-pressed: #151515;
$light-core-interactive-link-secondary-icon-visited: #484848;
$light-core-interactive-link-secondary-underline-default: #1a1a1a;
$light-core-interactive-link-secondary-underline-hover: #3c3c3c;
$light-core-interactive-link-secondary-underline-pressed: #484848;
$light-core-interactive-link-secondary-underline-visited: #4e4e4e;
$light-core-interactive-chip-primary-on-fill-default: #005c8a;
$light-core-interactive-chip-primary-on-fill-hover: #004e75;
$light-core-interactive-chip-primary-on-fill-pressed: #00496e;
$light-core-interactive-chip-primary-on-text-default: #ffffff;
$light-core-interactive-chip-primary-on-text-hover: #d9d9d9;
$light-core-interactive-chip-primary-on-text-pressed: #cccccc;
$light-core-interactive-chip-primary-on-icon-default: #ffffff;
$light-core-interactive-chip-primary-on-icon-hover: #d9d9d9;
$light-core-interactive-chip-primary-on-icon-pressed: #cccccc;
$light-core-interactive-chip-primary-off-fill-default: #f2f2f2;
$light-core-interactive-chip-primary-off-fill-hover: #cecece;
$light-core-interactive-chip-primary-off-fill-pressed: #c2c2c2;
$light-core-interactive-chip-primary-off-text-default: #005c8a;
$light-core-interactive-chip-primary-off-text-hover: #004e75;
$light-core-interactive-chip-primary-off-text-pressed: #00496e;
$light-core-interactive-chip-primary-off-icon-default: #005c8a;
$light-core-interactive-chip-primary-off-icon-hover: #004e75;
$light-core-interactive-chip-primary-off-icon-pressed: #00496e;
$light-core-interactive-chip-primary-off-border-default: #005c8a;
$light-core-interactive-chip-primary-off-border-hover: #004e75;
$light-core-interactive-chip-primary-off-border-pressed: #00496e;
$light-core-interactive-chip-secondary-on-text-default: #1a1a1a;
$light-core-interactive-chip-secondary-on-text-hover: #161616;
$light-core-interactive-chip-secondary-on-text-pressed: #151515;
$light-core-interactive-chip-secondary-on-fill-default: #ffffff;
$light-core-interactive-chip-secondary-on-fill-hover: #d9d9d9;
$light-core-interactive-chip-secondary-on-fill-pressed: #cccccc;
$light-core-interactive-chip-secondary-on-border-default: #8c8c8c;
$light-core-interactive-chip-secondary-on-border-hover: #777777;
$light-core-interactive-chip-secondary-on-border-pressed: #707070;
$light-core-interactive-chip-secondary-on-icon-default: #1a1a1a;
$light-core-interactive-chip-secondary-on-icon-hover: #161616;
$light-core-interactive-chip-secondary-on-icon-pressed: #151515;
$light-core-interactive-chip-secondary-off-fill-default: #f2f2f2;
$light-core-interactive-chip-secondary-off-fill-hover: #cecece;
$light-core-interactive-chip-secondary-off-fill-pressed: #c2c2c2;
$light-core-interactive-chip-secondary-off-text-default: #404040;
$light-core-interactive-chip-secondary-off-text-hover: #363636;
$light-core-interactive-chip-secondary-off-text-pressed: #333333;
$light-core-interactive-chip-secondary-off-icon-default: #404040;
$light-core-interactive-chip-secondary-off-icon-hover: #363636;
$light-core-interactive-chip-secondary-off-icon-pressed: #333333;
$light-core-active-fill: #000000;
$light-core-active-text: #ffffff;
$light-core-active-border: #000000;
$light-core-active-icon: #ffffff;
$light-core-focus-border: #737373;
$light-core-label-primary: #1a1a1a;
$light-core-label-secondary: #737373;
$light-core-label-callout: #b20908;
$light-core-flag-primary-fill: #000000;
$light-core-flag-primary-text: #f2f2f2;
$light-core-flag-primary-icon: #f2f2f2;
$light-core-flag-secondary-text: #1a1a1a;
$light-core-flag-secondary-icon: #1a1a1a;
$light-core-flag-callout-fill: #b20908;
$light-core-flag-callout-text: #ffffff;
$light-core-flag-callout-icon: #ffffff;
$light-core-toast-fill-info: #0a3472;
$light-core-toast-fill-success: #22724f;
$light-core-toast-fill-warning: #e49307;
$light-core-toast-fill-error: #cb0705;
$light-core-toast-icon-info: #97aed7;
$light-core-toast-icon-success: #a9d8be;
$light-core-toast-icon-warning: #ffdfb5;
$light-core-toast-icon-error: #ffb4b0;
$light-core-toast-text-info: #ffffff;
$light-core-toast-text-success: #ffffff;
$light-core-toast-text-error: #ffffff;
$light-core-toast-text-warning: #000000;
$light-core-toast-link-info-default: #ffffff;
$light-core-toast-link-info-hover: #d9d9d9;
$light-core-toast-link-info-pressed: #cccccc;
$light-core-toast-link-success-default: #ffffff;
$light-core-toast-link-success-hover: #d9d9d9;
$light-core-toast-link-success-pressed: #cccccc;
$light-core-toast-link-error-default: #ffffff;
$light-core-toast-link-error-hover: #d9d9d9;
$light-core-toast-link-error-pressed: #cccccc;
$light-core-toast-link-warning-default: #000000;
$light-core-toast-link-warning-hover: #000000;
$light-core-toast-link-warning-pressed: #000000;
$light-core-tooltip-fill: #000000;
$light-core-tooltip-text: #ffffff;
$light-core-tooltip-icon: #ffffff;
$light-core-theme-background: #ffffff;
$light-core-theme-foreground: #1a1a1a;
$light-core-theme-card: #f2f2f2;
$light-core-theme-card-foreground: #1a1a1a;
$light-core-theme-popover: #ffffff;
$light-core-theme-popover-foreground: #1a1a1a;
$light-core-theme-primary: #005c8a;
$light-core-theme-primary-foreground: #ffffff;
$light-core-theme-secondary: #d9d9d9;
$light-core-theme-secondary-foreground: #1a1a1a;
$light-core-theme-tertiary: #81b7c4;
$light-core-theme-tertiary-foreground: #ffffff;
$light-core-theme-muted: #e6e6e6;
$light-core-theme-muted-foreground: #737373;
$light-core-theme-border: #bfbfbf;
$light-core-theme-input: #bfbfbf;
$light-core-theme-ring: #737373;
$light-core-theme-info: #6788c4;
$light-core-theme-info-foreground: #ffffff;
$light-core-theme-success: #80c4a1;
$light-core-theme-success-foreground: #ffffff;
$light-core-theme-warning: #ffc274;
$light-core-theme-warning-foreground: #1a1a1a;
$light-core-theme-error: #ff7268;
$light-core-theme-error-foreground: #ffffff;
$light-core-theme-destructive: #ff7268;
$light-core-theme-destructive-foreground: #ffffff;
$light-core-theme-chart-1: #72838d;
$light-core-theme-chart-2: #ebc87a;
$light-core-theme-chart-3: #a5cde8;
$light-core-theme-chart-4: #f8ad7d;
$light-core-theme-chart-5: #81b7c4;